<header class="header">
    <div class="container nav">
        <a href="/" class="logo">OriginGFX</a>
        <nav>
            <a href="/explore">Explore</a>
            <a href="/artists">Artists</a>
            <a href="/about">About</a>
            <a href="/services">Services</a>
            <a href="/contact">Contact</a>
        </nav>
    </div>
</header>
